@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="container-fluid">

    <h1>@ViewData["Title"]</h1>
    
    <div class="card">
        <div class="card-header">
            Приглшайте друзей! 
        </div>
        <div class="card-body">
            <h5 class="card-title">Вы получаете возможность продвигаться в очереди быстрее! Ваши друзья получают скидки при вступлении в кооператив!</h5>
            <p class="card-text">
                Как это работает:<br/>
                1. Вы отправляете ссылки друзьям<br/>
                2. Друзья получают скидки при вступлении в кооператив<br/>
                3. Для того чтобы вы вереместились на первое место в очереди на покупку необходимо чтобы выполнились два условия:<br/>
                3.1. Вы и Ваши приглашенные друзья должны внести в кооператив минимальную сумму, необходимую для покупки жилья (todo: % from coop config);<br/>
                3.2. Ваши друзья и вы сверх этой минимальной суммы внесли средств на сумму равную стоимости вашей целевой недвижимости. <br/>
                ** На первый взгляд может показаться что это не выгодно приглашаемым (так как возможна ситуация когда вы опередите их в очереди), <br/>
                но с другой стороны: чем больше вы пригласите друзей тем быстрее будет происходить накопление средств на покупку очередного объекта недвижимости. <br/>
                В итоге и вы и ваши друзья заселитесь быстрее, чем если бы никто никого не приглашал!<br/>
                4. Профит!<br/>
            
                Ваша персональная ссылка для приглашения друзей: @ViewBag.ReferralLink<br/>
            
                Social share control with ref link
            </p>
            <a href="#" class="btn btn-primary">Отправить!</a>
        </div>
    </div>
    
</div>


